<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration"/>
	</configSections>
	
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<namespace name="lab2"/>
		<assembly name="lab2"/>
		<alias alias="ICalculator" type="lab2.ICalculator, lab2"/>

		<alias alias="CatCalc" type="lab2.CatCalc, lab2"/>
		<alias alias="PlusCalc" type="lab2.PlusCalc, lab2"/>
		<alias alias="StateCalc" type="lab2.StateCalc, lab2"/>

		<alias alias="Worker" type="lab2.Worker, lab2"/>
		<alias alias="Worker2" type="lab2.Worker2, lab2"/>
		<alias alias="Worker3" type="lab2.Worker3, lab2"/>

		<container>

			<register type="ICalculator" mapTo="CatCalc" name="CatCalc" />
			<register type="ICalculator" mapTo="PlusCalc" name="PlusCalc" />
			<register type="ICalculator" mapTo="StateCalc" name="StateCalc" >
				<lifetime type="Unity.Lifetime.ContainerControlledLifetimeManager, Unity.Abstractions"/>
				<constructor>
					<param name="v" value="1" />
				</constructor>
			</register>

			<register type="Worker" name="Worker">
				<constructor>
					<param name="calc">
						<dependency name="CatCalc" />
					</param>
				</constructor>
			</register>

			<register type="Worker2" name="Worker2">
				<method name="SetCalculator">
					<param name="c">
						<dependency name="PlusCalc" />
					</param>
				</method>
			</register>

			<register type="Worker3" name="Worker3">
				<property name="Calculator">
					<dependency name="CatCalc" />
				</property>
			</register>


			<register type="Worker" name="state">
				<constructor>
					<param name="calc">
						<dependency name="StateCalc" />
					</param>
				</constructor>
			</register>

			<register type="Worker2" name="state">
				<method name="SetCalculator">
					<param name="c">
						<dependency name="StateCalc" />
					</param>
				</method>
			</register>

			<register type="Worker3" name="state">
				<property name="Calculator">
					<dependency name="StateCalc" />
				</property>
			</register>



		</container>


	</unity>
</configuration>
